.app-header {
    height: 80px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
    
}

.app-header .app-header--title {
    font-size: 30px;
    padding-left: 5px;
    text-align: center;
}

.divBorder{
    border: 12px solid rgb(68, 67, 67);
}